li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border: 2px solid red;
}

h1 {
  font-size: 2rem;
}

h1,
p,
input {
  margin: 10px;
}

.liPinkColor {
  background-color: pink;
}

.liLightBlueColor {
  background-color: lightblue;
}
